---
import Layout from '../layouts/Layout.astro';
import Hero from "../components/Hero.astro";
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="About" description="CS Student @ Tufts">
	<section id="about">
		<div class="h-full w-full flex flex-col gap-8">
			<Hero />
			<ContactForm />
		</div>
	</section>
</Layout>
