---
import Layout from '../layouts/Plane2.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Contact" description="Get in touch with me">

  <main class="flex-grow w-full flex items-center justify-center py-6">
    <ContactForm />
  </main>

</Layout>
