---
import Layout from '../layouts/Plane2.astro';
import Header from '../components/HeaderNew.astro';
import Footer from '../components/Footer';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Contact" description="Get in touch with me">
  <Header />

  <main class="flex-grow w-full flex items-center justify-center py-6">
    <ContactForm />
  </main>

  <Footer />
</Layout>
