---
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout title="Contact" description="Get in touch with me">
  <section id="contact">
    <div class="h-full w-full flex flex-col gap-6">
      <section class="">
				<h1 class="text-4xl font-bold text-text-primary">
				Contact Me
				</h1>
			</section>
      <ContactForm />
    </div>
  </section>
</Layout>
