---
import Layout from '../layouts/v7.astro';
import Header from '../components/HeaderNew.astro';
import Footer from "../components/Footer.tsx";
import MainContent from "../components/MainContent.astro";
---

<Layout title="Dan Glorioso" description="CS Student at Tufts">
	<Header />
	<div class="flex-grow">
		<MainContent />
	</div>
	<Footer />
</Layout>
