---
import Layout from '../layouts/Homepage.astro';
import Header from '../components/HeaderNew.astro';
import Footer from "../components/Footer.tsx";
import MainContent from "../components/MainContent.astro";
---

<Layout title="Dan Glorioso" description="CS Student @ Tufts">
	<Header />

	<div class="flex-grow">
		<MainContent />
	</div>

	<Footer />
</Layout>
