---
import Layout from '../layouts/Plane2.astro';
import Header from '../components/HeaderNew.astro';
import Footer from "../components/Footer.tsx";
import Hero from "../components/Hero.astro";
---

<Layout title="Dan Glorioso" description="CS Student @ Tufts">

	<div class="flex-grow">
		<Hero />
	</div>

</Layout>
