---
import Layout from '../layouts/Layout.astro';
import MailchimpForm from "../components/Mailchimp.astro";
import Footer from "../components/Footer.tsx";
import Monogram from '../components/Monogram.astro';
---

<Layout title="Dan Glorioso">
	<header
		class="antialiased max-w-screen-sm mx-auto"
	>
		<a href="https://linkedin.com/in/dan-glorioso" target="LinkedIn" aria-label="LinkedIn">
			<img src="/icons/linkedin.svg" alt="LinkedIn"/>
		</a>
		<a href="https://github.com/danglorioso" target="GitHub" aria-label="GitHub">
			<img src="/icons/github.svg" alt="GitHub"/>
		</a>
	</header>

	<main
		class="antialiased text-white max-w-screen-sm mx-auto px-6 pt-16 sm:pt-24 pb-40"
	>
		<Monogram viewBox="0 0 128 86" width="128px" height="86px" />

		<h1 class="pulse-on-load">Hey! I'm <span class="text-gradient">Dan Glorioso</span>,</h1>
		<h2> a CS Student at Tufts.</h2>

		<p class="instructions">
			Here you’ll find my portfolio of academic and personal projects.</br><br>
			<strong>This site is a work in progress and is not yet fully deployed.</strong> Enter your email address below to get notified when the site is launched.
			
			<MailchimpForm/>
		</p>

	</main>
	
	<Footer />
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.monogram {
		position: relative;
		/* top: 95px; */
		left: 50%;
		transform: translatex(-50%);
		width: 128px;
		height: 86px;
		display: inline-block;
		margin-top: 25px;
		margin-bottom: 25px;
	}
	.monogram .path-body {
		animation: fillBlue 2.5s ease-out forwards;
	}
	.monogram .path-shadow {
		animation: fillBlueShadow 2.5s ease-out forwards;
	}
	.monogram:hover path#body {
		animation: none;
		transition: fill 0.4s ease-in;
		fill: #0404e3 !important;
	}
	.monogram:hover path#shadow {
		animation: none;
		transition: fill 0.4s ease-in;
		fill: #04048d !important;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: .25em;
	}
	h2 {
		font-size: 3rem;
		font-weight: 600;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	header {
		display: flex;
		justify-content: flex-end; /* Align icons right */
		align-items: center; /* Vertically centered */
		padding: 1rem;
	}
	header a {
		margin-left: 1rem; /* Space between icons */
	}
	header img {
		width: 32px;
		height: 32px;
	}

	/* Pulse animation */
	@keyframes pulse {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.1);
		}
		100% {
			transform: scale(1);
		}
	}
	.pulse-on-load {
		animation: pulse 1s ease-in-out;
	}

	/* Blue fill animation on load */
	@keyframes fillBlue {
		from {
			fill: #0404e3;
		}
		to {
			fill: transparent;
		}
	}
	@keyframes fillBlueShadow {
		from {
			fill: #04048d;
		}
		to {
			fill: transparent;
		}
	}
</style>