---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<Layout title="Dan Glorioso">
	<header
		class="antialiased max-w-screen-sm mx-auto"
	>
		<a href="https://linkedin.com/in/dan-glorioso" target="LinkedIn" aria-label="LinkedIn">
			<img src="/icons/linkedin.svg" alt="LinkedIn"/>
		</a>
		<a href="https://github.com/danglorioso" target="GitHub" aria-label="GitHub">
			<img src="/icons/github.svg" alt="GitHub"/>
		</a>
	</header>

	<main
		class="antialiased text-white max-w-screen-sm mx-auto px-6 pt-16 sm:pt-24 pb-40"
	>
		<div class="flex items-end gap-x-6">
				<!-- <img
					src="/DG460.png"
					class="w-64 h-64"
					alt="DG"
				/> -->
				
		</div>

		<svg
			class="dg"
			width="500"
			height="500"
			viewBox="0 0 500 500"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
			<path 
				id="border" 
				d="M56.800 104.400 C 56.800 104.620,56.440 104.800,56.000 104.800 C 55.467 104.800,55.200 105.067,55.200 105.600 C 55.200 106.040,55.020 106.400,54.800 106.400 C 54.245 106.400,54.245 293.057,54.800 293.400 C 55.020 293.536,55.200 293.919,55.200 294.252 C 55.200 295.114,56.200 296.000,57.171 296.000 C 57.627 296.000,58.000 296.180,58.000 296.400 C 58.000 296.665,75.808 296.800,110.624 296.800 C 145.604 296.800,163.164 296.666,163.000 296.400 C 162.856 296.166,163.268 296.000,163.992 296.000 C 165.056 296.000,166.083 295.150,171.239 290.000 C 174.544 286.700,177.422 284.000,177.636 284.000 C 177.850 284.000,178.129 283.730,178.255 283.400 C 178.382 283.070,178.653 282.800,178.858 282.800 C 179.062 282.800,181.306 280.730,183.843 278.200 C 186.380 275.670,188.593 273.600,188.760 273.600 C 188.928 273.600,189.306 273.150,189.600 272.600 C 189.894 272.050,190.360 271.600,190.635 271.600 C 190.910 271.600,191.509 270.994,191.967 270.253 L 192.800 268.906 192.800 201.671 L 192.800 134.436 191.800 133.436 C 191.250 132.886,190.800 132.332,190.800 132.205 C 190.800 131.852,188.071 129.200,187.708 129.200 C 187.533 129.200,187.032 128.720,186.595 128.134 C 185.511 126.681,182.922 124.000,182.603 124.000 C 182.224 124.000,181.200 122.916,181.200 122.515 C 181.200 122.327,180.660 121.854,180.000 121.464 C 179.340 121.074,178.800 120.495,178.800 120.177 C 178.800 119.860,178.665 119.600,178.500 119.600 C 178.092 119.599,176.000 117.777,176.000 117.422 C 176.000 117.082,173.370 114.527,171.866 113.405 C 171.280 112.968,170.800 112.467,170.800 112.292 C 170.800 111.877,168.123 109.200,167.708 109.200 C 167.533 109.200,167.032 108.713,166.595 108.119 C 166.158 107.524,165.103 106.354,164.252 105.519 L 162.704 104.000 109.752 104.000 C 74.717 104.000,56.800 104.135,56.800 104.400 M230.318 105.798 C 229.373 106.788,228.375 107.598,228.100 107.598 C 227.825 107.599,227.600 107.841,227.600 108.135 C 227.600 108.429,226.795 109.374,225.811 110.235 C 224.827 111.096,224.017 111.948,224.011 112.129 C 223.995 112.618,222.923 113.600,222.405 113.600 C 222.156 113.600,222.064 113.780,222.200 114.000 C 222.336 114.220,222.251 114.400,222.010 114.400 C 221.770 114.400,220.943 115.030,220.173 115.800 C 219.403 116.570,218.599 117.200,218.387 117.200 C 218.174 117.200,218.000 117.560,218.000 118.000 C 218.000 118.440,217.814 118.800,217.587 118.800 C 217.036 118.800,214.400 121.455,214.400 122.010 C 214.400 122.251,214.220 122.336,214.000 122.200 C 213.780 122.064,213.600 122.156,213.600 122.405 C 213.600 122.888,212.626 124.000,212.203 124.000 C 212.063 124.000,211.494 124.540,210.939 125.200 C 210.383 125.860,209.715 126.400,209.453 126.400 C 208.977 126.400,207.600 127.785,207.600 128.265 C 207.600 128.405,206.790 129.285,205.800 130.220 C 204.810 131.156,204.000 132.288,204.000 132.737 C 204.000 133.186,203.820 133.664,203.600 133.800 C 203.046 134.142,203.046 268.658,203.600 269.000 C 203.820 269.136,204.000 269.512,204.000 269.836 C 204.000 270.534,214.566 281.200,215.257 281.200 C 215.519 281.200,215.616 281.317,215.473 281.460 C 215.149 281.785,219.805 286.400,220.457 286.400 C 220.719 286.400,220.828 286.505,220.700 286.634 C 220.367 286.966,221.672 288.400,222.307 288.400 C 223.037 288.400,224.800 290.226,224.800 290.982 C 224.800 291.322,225.139 291.600,225.553 291.600 C 225.970 291.600,226.400 291.957,226.515 292.398 C 226.630 292.837,227.056 293.321,227.462 293.473 C 227.868 293.626,228.677 294.257,229.260 294.875 C 229.844 295.494,230.598 296.000,230.937 296.000 C 231.276 296.000,231.664 296.180,231.800 296.400 C 231.963 296.664,250.937 296.800,287.424 296.800 C 324.075 296.800,342.800 296.665,342.800 296.400 C 342.800 296.180,343.173 296.000,343.629 296.000 C 345.707 296.000,345.600 299.020,345.600 240.410 L 345.600 185.964 344.618 184.982 L 343.636 184.000 305.618 184.000 C 280.539 184.000,267.600 184.136,267.600 184.400 C 267.600 184.620,267.330 184.800,267.000 184.800 C 265.916 184.800,266.116 223.979,267.205 224.911 C 267.926 225.529,269.221 225.600,279.805 225.600 L 291.600 225.600 291.600 237.400 L 291.600 249.200 271.600 249.200 L 251.600 249.200 251.600 201.800 L 251.600 154.400 281.376 154.400 C 300.796 154.400,311.239 154.261,311.400 154.000 C 311.536 153.780,312.606 153.600,313.778 153.600 C 314.950 153.600,316.424 153.331,317.054 153.002 C 317.684 152.674,318.515 152.404,318.900 152.402 C 319.285 152.401,319.600 152.220,319.600 152.000 C 319.600 151.780,320.140 151.600,320.800 151.600 C 321.460 151.600,322.000 151.420,322.000 151.200 C 322.000 150.980,322.990 150.800,324.200 150.800 C 325.410 150.800,326.400 150.620,326.400 150.400 C 326.400 150.180,326.929 150.000,327.576 150.000 C 328.223 150.000,328.864 149.820,329.000 149.600 C 329.136 149.380,329.777 149.200,330.424 149.200 C 331.071 149.200,331.600 149.020,331.600 148.800 C 331.600 148.580,332.397 148.400,333.371 148.400 C 334.413 148.400,335.390 148.153,335.743 147.800 C 336.073 147.470,336.896 147.200,337.571 147.200 C 338.247 147.200,338.800 147.041,338.800 146.847 C 338.800 146.652,339.160 146.399,339.600 146.284 C 340.040 146.169,340.400 145.788,340.400 145.437 C 340.400 145.087,340.580 144.800,340.800 144.800 C 341.489 144.800,341.332 107.546,340.638 106.208 C 339.429 103.877,342.531 104.000,284.972 104.000 L 232.036 104.000 230.318 105.798 M162.896 110.742 C 164.159 111.984,165.570 113.389,166.031 113.866 C 166.492 114.342,167.451 115.332,168.164 116.066 C 168.876 116.799,170.075 117.958,170.829 118.641 C 171.583 119.323,173.898 121.618,175.973 123.741 C 178.048 125.863,179.876 127.600,180.035 127.600 C 180.193 127.600,181.195 128.685,182.262 130.011 C 183.328 131.337,184.795 132.777,185.522 133.211 C 188.651 135.077,188.425 129.455,188.306 202.509 L 188.200 267.476 184.345 271.238 C 182.224 273.307,178.174 277.231,175.345 279.957 C 172.515 282.684,168.485 286.600,166.389 288.659 L 162.578 292.403 110.589 292.302 L 58.600 292.200 58.499 200.302 L 58.398 108.404 100.899 108.280 C 124.275 108.211,147.270 108.229,152.000 108.320 L 160.600 108.484 162.896 110.742 M336.304 108.598 C 336.702 108.740,336.787 112.366,336.704 125.675 L 336.600 142.572 334.600 143.216 C 333.500 143.571,332.330 143.963,332.000 144.088 C 328.412 145.451,323.909 146.729,319.600 147.608 C 318.390 147.855,317.040 148.211,316.600 148.399 C 316.160 148.586,315.350 148.831,314.800 148.942 C 314.250 149.053,313.080 149.333,312.200 149.563 C 311.154 149.836,299.770 149.984,279.327 149.990 C 249.891 149.999,248.042 150.041,247.852 150.700 C 247.698 151.231,247.797 234.970,247.969 250.100 L 248.000 252.800 272.200 252.800 L 296.400 252.800 296.400 237.200 L 296.400 221.600 283.396 221.600 L 270.391 221.600 270.496 204.700 L 270.600 187.800 306.200 187.800 L 341.800 187.800 341.800 240.000 L 341.800 292.200 287.400 292.300 L 233.000 292.401 228.200 287.742 C 225.560 285.180,219.845 279.624,215.500 275.395 L 207.600 267.707 207.600 201.095 L 207.600 134.483 209.100 133.230 C 209.925 132.540,210.750 131.817,210.933 131.622 C 211.525 130.992,215.655 126.878,216.040 126.533 C 216.246 126.350,217.384 125.210,218.570 124.000 C 219.755 122.790,220.917 121.620,221.152 121.400 C 221.386 121.180,222.258 120.280,223.089 119.400 C 223.920 118.520,225.054 117.440,225.609 117.000 C 226.164 116.560,227.112 115.534,227.715 114.719 C 228.318 113.905,229.304 112.945,229.906 112.586 C 230.508 112.227,231.604 111.141,232.342 110.173 L 233.683 108.413 243.942 108.307 C 259.206 108.148,335.721 108.389,336.304 108.598 M106.026 150.569 C 105.667 151.001,105.576 163.368,105.648 201.969 L 105.742 252.800 127.071 252.800 L 148.400 252.800 148.424 239.700 C 148.485 205.715,148.498 167.714,148.451 159.300 L 148.400 150.000 127.449 150.000 C 109.821 150.000,106.423 150.090,106.026 150.569 M144.000 201.800 L 144.000 249.200 127.000 249.200 L 110.000 249.200 110.000 201.800 L 110.000 154.400 127.000 154.400 L 144.000 154.400 144.000 201.800 " 
				fill="#bab9c3" 
				fill-rule="evenodd">
			</path>
			<path 
				class="fill" 
				d="M100.899 108.280 L 58.398 108.404 58.499 200.302 L 58.600 292.200 110.589 292.302 L 162.578 292.403 166.389 288.659 C 168.485 286.600,172.515 282.684,175.345 279.957 C 178.174 277.231,182.224 273.307,184.345 271.238 L 188.200 267.476 188.306 202.509 C 188.425 129.455,188.651 135.077,185.522 133.211 C 184.795 132.777,183.328 131.337,182.262 130.011 C 181.195 128.685,180.193 127.600,180.035 127.600 C 179.876 127.600,178.048 125.863,175.973 123.741 C 173.898 121.618,171.576 119.323,170.813 118.641 C 170.050 117.958,168.658 116.590,167.720 115.600 C 166.782 114.610,165.826 113.620,165.595 113.400 C 165.364 113.180,164.146 111.984,162.888 110.742 L 160.600 108.484 152.000 108.320 C 147.270 108.229,124.275 108.211,100.899 108.280 M243.942 108.307 L 233.683 108.413 232.342 110.173 C 231.604 111.141,230.508 112.227,229.906 112.586 C 229.304 112.945,228.318 113.905,227.715 114.719 C 227.112 115.534,226.164 116.560,225.609 117.000 C 225.054 117.440,223.920 118.520,223.089 119.400 C 222.258 120.280,221.386 121.180,221.152 121.400 C 220.917 121.620,219.755 122.790,218.570 124.000 C 217.384 125.210,216.246 126.350,216.040 126.533 C 215.655 126.878,211.525 130.992,210.933 131.622 C 210.750 131.817,209.925 132.540,209.100 133.230 L 207.600 134.483 207.600 201.095 L 207.600 267.707 215.500 275.395 C 219.845 279.624,225.560 285.180,228.200 287.742 L 233.000 292.401 287.400 292.300 L 341.800 292.200 341.800 240.000 L 341.800 187.800 306.200 187.800 L 270.600 187.800 270.496 204.700 L 270.391 221.600 283.296 221.668 C 290.393 221.705,298.000 221.774,300.200 221.821 L 304.200 221.906 304.200 240.053 L 304.200 258.200 276.600 258.295 C 261.420 258.348,248.759 258.238,248.465 258.050 C 247.882 257.679,247.367 163.303,247.873 149.497 L 248.118 142.793 292.086 142.804 C 316.269 142.809,336.222 142.710,336.427 142.583 C 337.040 142.204,336.915 108.816,336.300 108.596 C 335.719 108.389,259.138 108.149,243.942 108.307 M148.291 147.800 C 148.478 157.600,148.423 257.638,148.232 257.949 C 148.122 258.126,136.640 258.255,122.716 258.235 L 97.400 258.200 97.299 200.497 L 97.197 142.794 122.699 142.897 L 148.200 143.000 148.291 147.800 " 
				fill="#141414" 
				fill-rule="evenodd">
			</path>
			<path 
				class="shadow" 
				d="M97.299 200.500 L 97.400 258.200 122.800 258.200 L 148.200 258.200 148.318 255.500 L 148.437 252.800 127.089 252.800 L 105.742 252.800 105.648 201.969 C 105.576 163.368,105.667 151.001,106.026 150.569 C 106.423 150.090,109.786 150.000,127.191 150.000 L 147.885 150.000 148.154 146.780 C 148.301 145.009,148.317 143.389,148.187 143.180 C 148.043 142.947,138.157 142.800,122.575 142.800 L 97.197 142.800 97.299 200.500 M248.000 146.400 L 248.000 150.000 279.300 149.990 C 299.761 149.984,311.154 149.836,312.200 149.563 C 313.080 149.333,314.250 149.053,314.800 148.942 C 315.350 148.831,316.160 148.586,316.600 148.399 C 317.040 148.211,318.390 147.855,319.600 147.608 C 324.873 146.532,329.745 145.066,334.000 143.275 C 334.709 142.977,322.328 142.846,291.500 142.827 L 248.000 142.800 248.000 146.400 M296.566 221.967 C 296.475 222.058,296.400 229.033,296.400 237.467 L 296.400 252.800 272.200 252.800 L 248.000 252.800 248.000 255.392 C 248.000 258.733,245.084 258.440,277.000 258.310 L 304.200 258.200 304.200 240.051 L 304.200 221.903 300.466 221.851 C 298.413 221.823,296.658 221.875,296.566 221.967 "
				fill="#0E0E0E" 
				fill-rule="evenodd">
			</path>
		</svg>


		<br><br><br>

		<h1>Hey! I'm <span class="text-gradient">Dan Glorioso</span>,</h1>
		<h2> a CS Student at Tufts.</h2>

		<p class="instructions">
			Here you’ll find my portfolio of academic and personal projects.<br />
			<strong>This site is a work in progress and is not yet fully deployed.</strong> Enter your email address below to get notified when the site is launched.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.dg {
		position: absolute;
		top: 20px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
		filter:grayscale(100%);
		transition: fill 0.3s ease, filter 0.3s ease;
	}
	.dg:hover{
		fill: #0404e3;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: .25em;
	}
	h2 {
		font-size: 3rem;
		font-weight: 600;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	header {
		display: flex;
		justify-content: flex-end; /* Align icons right */
		align-items: center; /* Vertically centered */
		padding: 1rem;
		background-color: transparent;
	}
	header a {
		margin-left: 1rem; /* Space between icons */
	}
	header img {
		width: 32px; /* Larger size for better visibility */
		height: 32px;
	}
</style>
