---
import Layout from '../layouts/Layout.astro';
// import Card from '../components/Card.astro';
---

<Layout title="Dan Glorioso">
	<header
		class="antialiased max-w-screen-sm mx-auto"
	>
		<a href="https://linkedin.com/in/dan-glorioso" target="LinkedIn" aria-label="LinkedIn">
			<img src="/icons/linkedin.svg" alt="LinkedIn"/>
		</a>
		<a href="https://github.com/danglorioso" target="GitHub" aria-label="GitHub">
			<img src="/icons/github.svg" alt="GitHub"/>
		</a>
	</header>

	<main
		class="antialiased text-white max-w-screen-sm mx-auto px-6 pt-16 sm:pt-24 pb-40"
	>
		<div class="flex items-end gap-x-6">
				<!-- <img
					src="/DG460.png"
					class="w-64 h-64"
					alt="DG"
				/> -->
		</div>

		<svg
			class="monogram"
			viewBox="0 0 500 500"
			xmlns="http://www.w3.org/2000/svg"
			aria-hidden="true"
		>
			<g>
				<path 
					id="border" 
					d="M234.570 104.543 C 233.575 104.768,205.622 132.344,204.528 134.180 L 204.004 135.059 204.004 201.074 C 204.004 237.383,204.075 267.354,204.163 267.676 C 204.339 268.323,230.206 294.397,231.445 295.176 L 232.129 295.605 287.402 295.605 L 342.676 295.605 343.398 295.156 C 343.796 294.909,344.323 294.382,344.570 293.984 L 345.020 293.262 345.020 239.941 L 345.020 186.621 344.570 185.899 C 344.323 185.501,343.796 184.974,343.398 184.727 L 342.676 184.277 305.762 184.277 L 268.848 184.277 268.125 184.727 C 267.728 184.974,267.200 185.501,266.953 185.899 L 266.504 186.621 266.504 204.492 L 266.504 222.363 266.953 223.086 C 267.200 223.483,267.728 224.011,268.125 224.258 L 268.848 224.707 280.713 224.763 L 292.578 224.819 292.578 237.019 L 292.578 249.219 271.875 249.219 L 251.172 249.219 251.172 201.272 L 251.172 153.325 281.494 153.274 L 311.816 153.223 324.902 149.740 C 338.442 146.137,338.939 145.970,339.687 144.766 L 340.137 144.043 340.137 125.488 L 340.137 106.934 339.683 106.205 C 339.110 105.282,338.427 104.807,337.267 104.522 C 336.049 104.223,235.895 104.243,234.570 104.543 M57.515 104.673 C 56.646 104.883,55.923 105.418,55.423 106.221 L 54.980 106.934 54.980 200.098 L 54.980 293.262 55.430 293.984 C 55.677 294.382,56.204 294.909,56.602 295.156 L 57.324 295.605 110.449 295.605 L 163.574 295.605 164.258 295.176 C 165.497 294.397,191.364 268.323,191.540 267.676 C 191.748 266.910,191.748 135.434,191.540 134.668 C 191.365 134.021,163.351 105.800,162.109 105.020 L 161.426 104.590 109.766 104.560 C 81.353 104.544,57.840 104.594,57.515 104.673 M174.267 122.021 L 188.281 136.034 188.281 201.171 L 188.281 266.308 175.342 279.248 L 162.403 292.188 110.401 292.188 L 58.398 292.188 58.398 200.098 L 58.398 108.008 109.326 108.008 L 160.253 108.008 174.267 122.021 M336.719 125.488 C 336.719 135.103,336.668 142.969,336.606 142.969 C 336.544 142.969,330.654 144.507,323.516 146.387 L 310.538 149.805 279.097 149.805 L 247.656 149.805 247.656 201.270 L 247.656 252.734 271.974 252.734 L 296.291 252.734 296.241 237.061 L 296.191 221.387 283.057 221.337 L 269.922 221.286 269.922 204.491 L 269.922 187.695 305.762 187.695 L 341.602 187.695 341.602 239.941 L 341.602 292.188 287.452 292.188 L 233.302 292.188 220.362 279.249 L 207.422 266.310 207.422 201.176 L 207.422 136.042 221.434 122.025 L 235.446 108.008 286.082 108.008 L 336.719 108.008 336.719 125.488 M105.469 201.270 L 105.469 252.734 126.855 252.734 L 148.242 252.734 148.242 201.270 L 148.242 149.805 126.855 149.805 L 105.469 149.805 105.469 201.270 M144.727 201.270 L 144.727 249.219 126.855 249.219 L 108.984 249.219 108.984 201.270 L 108.984 153.320 126.855 153.320 L 144.727 153.320 144.727 201.270 " 
					fill="#bab9c3" 
					fill-rule="evenodd">
				</path>
				<path 
					id="body" 
					d="M238.427 108.396 L 235.155 108.496 221.337 122.315 L 207.520 136.133 207.470 201.218 L 207.420 266.304 220.363 279.247 L 233.306 292.190 287.070 292.140 C 334.612 292.096,340.856 292.056,341.020 291.797 C 341.380 291.227,341.265 188.754,340.904 188.393 C 340.543 188.032,270.882 187.917,270.313 188.277 C 269.983 188.485,269.855 220.701,270.182 221.029 C 270.272 221.118,276.160 221.235,283.268 221.289 L 296.191 221.387 296.241 237.046 C 296.289 251.840,296.272 252.710,295.948 252.795 C 295.689 252.863,295.712 252.890,296.045 252.907 L 296.484 252.930 296.484 237.207 L 296.484 221.484 300.254 221.484 C 302.925 221.484,304.092 221.553,304.258 221.719 C 304.598 222.059,304.598 257.824,304.258 258.164 C 303.917 258.505,248.622 258.505,248.281 258.164 C 248.124 258.007,248.047 257.128,248.047 255.494 C 248.047 253.448,247.992 252.998,247.705 252.680 C 247.259 252.188,247.069 152.419,247.511 150.727 L 247.754 149.794 279.199 149.752 L 310.645 149.709 279.346 149.659 L 248.047 149.608 248.047 146.328 C 248.047 144.036,248.118 142.976,248.281 142.812 C 248.462 142.632,258.533 142.578,292.422 142.578 L 336.328 142.578 336.328 125.795 C 336.328 111.609,336.285 108.970,336.053 108.737 C 335.846 108.530,334.928 108.433,332.390 108.350 C 328.245 108.215,242.994 108.256,238.427 108.396 M58.789 108.590 C 58.459 108.798,58.330 291.598,58.659 291.927 C 58.748 292.017,82.106 292.090,110.564 292.090 L 162.307 292.090 175.099 279.294 L 187.891 266.498 187.891 201.366 L 187.891 136.234 173.973 122.316 L 160.056 108.398 109.569 108.401 C 78.091 108.403,58.972 108.474,58.789 108.590 M147.617 142.813 C 147.781 142.976,147.852 144.036,147.852 146.327 L 147.852 149.608 126.807 149.659 L 105.762 149.711 127.002 149.709 L 148.242 149.707 148.242 201.221 C 148.242 242.302,148.193 252.734,147.998 252.734 C 147.812 252.734,147.768 253.343,147.814 255.289 C 147.855 257.044,147.802 257.930,147.643 258.121 C 147.329 258.500,97.293 258.543,96.914 258.164 C 96.573 257.823,96.573 143.154,96.914 142.813 C 97.255 142.472,147.277 142.472,147.617 142.813 "
					fill="#141414"
					fill-rule="evenodd">
				</path>
				<path 
					id="shadow" 
					d="M58.414 108.643 C 58.422 108.992,58.479 109.146,58.541 108.984 C 58.602 108.823,58.749 108.627,58.867 108.548 C 58.985 108.469,81.801 108.403,109.569 108.401 L 160.056 108.398 173.973 122.316 L 187.891 136.234 187.891 201.365 L 187.891 266.497 175.149 279.245 C 168.140 286.256,162.274 291.999,162.111 292.008 C 161.879 292.020,161.873 292.046,162.085 292.130 C 162.255 292.197,167.099 287.490,175.317 279.273 L 188.281 266.310 188.281 201.172 L 188.281 136.034 174.267 122.021 L 160.253 108.008 109.326 108.008 L 58.398 108.008 58.414 108.643 M221.484 122.021 L 207.520 136.034 221.387 122.235 L 235.254 108.436 239.160 108.344 C 244.775 108.212,328.349 108.218,332.390 108.350 C 334.928 108.433,335.846 108.530,336.053 108.737 C 336.285 108.970,336.328 111.609,336.328 125.795 L 336.328 142.578 292.407 142.578 C 256.686 142.578,248.446 142.625,248.275 142.831 C 248.149 142.983,248.042 144.408,248.007 146.396 L 247.949 149.707 279.443 149.707 C 297.078 149.707,310.938 149.633,310.938 149.538 C 310.938 149.445,311.113 149.414,311.328 149.471 C 311.543 149.527,311.719 149.484,311.719 149.375 C 311.719 149.266,311.851 149.228,312.012 149.289 C 312.173 149.351,312.305 149.306,312.305 149.190 C 312.305 149.073,312.480 149.024,312.695 149.080 C 312.910 149.136,313.086 149.092,313.086 148.982 C 313.086 148.872,313.262 148.829,313.477 148.885 C 313.691 148.941,313.867 148.897,313.867 148.787 C 313.867 148.677,314.043 148.633,314.258 148.689 C 314.473 148.746,314.648 148.702,314.648 148.592 C 314.648 148.482,314.824 148.438,315.039 148.494 C 315.254 148.550,315.430 148.519,315.430 148.425 C 315.430 148.331,315.562 148.305,315.723 148.367 C 315.884 148.429,316.016 148.376,316.016 148.250 C 316.016 148.109,316.167 148.069,316.406 148.145 C 316.647 148.221,316.797 148.180,316.797 148.037 C 316.797 147.902,316.959 147.848,317.188 147.908 C 317.402 147.964,317.578 147.936,317.578 147.844 C 317.578 147.753,317.754 147.713,317.969 147.754 C 318.184 147.795,318.359 147.736,318.359 147.622 C 318.359 147.508,318.535 147.461,318.750 147.518 C 318.965 147.574,319.141 147.543,319.141 147.449 C 319.141 147.355,319.272 147.328,319.434 147.390 C 319.595 147.452,319.727 147.410,319.727 147.298 C 319.727 147.185,319.902 147.127,320.117 147.168 C 320.332 147.209,320.508 147.150,320.508 147.036 C 320.508 146.923,320.684 146.875,320.898 146.932 C 321.113 146.988,321.289 146.944,321.289 146.834 C 321.289 146.724,321.465 146.680,321.680 146.736 C 321.895 146.792,322.070 146.749,322.070 146.639 C 322.070 146.529,322.246 146.485,322.461 146.541 C 322.676 146.597,322.852 146.566,322.852 146.472 C 322.852 146.378,322.983 146.352,323.145 146.414 C 323.307 146.476,323.438 146.419,323.438 146.287 C 323.438 146.144,323.595 146.089,323.828 146.150 C 324.043 146.207,324.219 146.178,324.219 146.087 C 324.219 145.995,324.395 145.955,324.609 145.996 C 324.824 146.037,325.000 145.978,325.000 145.864 C 325.000 145.751,325.176 145.704,325.391 145.760 C 325.605 145.816,325.781 145.772,325.781 145.662 C 325.781 145.552,325.957 145.508,326.172 145.564 C 326.387 145.621,326.563 145.577,326.563 145.469 C 326.563 145.360,326.694 145.321,326.855 145.383 C 327.017 145.445,327.148 145.415,327.148 145.318 C 327.148 145.220,327.324 145.173,327.539 145.215 C 327.754 145.256,327.930 145.197,327.930 145.083 C 327.930 144.969,328.105 144.922,328.320 144.978 C 328.535 145.035,328.711 144.991,328.711 144.881 C 328.711 144.771,328.887 144.727,329.102 144.783 C 329.316 144.839,329.492 144.795,329.492 144.685 C 329.492 144.576,329.668 144.532,329.883 144.588 C 330.098 144.644,330.273 144.601,330.273 144.492 C 330.273 144.383,330.405 144.345,330.566 144.407 C 330.728 144.468,330.859 144.424,330.859 144.307 C 330.859 144.190,331.035 144.141,331.250 144.197 C 331.465 144.253,331.641 144.209,331.641 144.100 C 331.641 143.990,331.816 143.946,332.031 144.002 C 332.246 144.058,332.422 144.014,332.422 143.904 C 332.422 143.794,332.598 143.750,332.813 143.807 C 333.027 143.863,333.203 143.834,333.203 143.743 C 333.203 143.652,333.379 143.611,333.594 143.652 C 333.809 143.694,333.984 143.635,333.984 143.523 C 333.984 143.410,334.116 143.368,334.277 143.430 C 334.438 143.492,334.570 143.452,334.570 143.341 C 334.570 143.230,334.724 143.162,334.912 143.190 C 335.100 143.218,335.583 143.175,335.986 143.096 L 336.719 142.951 336.719 125.479 L 336.719 108.008 286.083 108.008 L 235.448 108.008 221.484 122.021 M96.914 142.813 C 96.573 143.154,96.573 257.823,96.914 258.164 C 97.287 258.537,147.328 258.501,147.638 258.127 C 147.789 257.945,147.846 257.029,147.809 255.344 L 147.754 252.832 126.563 252.832 L 105.371 252.832 105.419 201.378 C 105.445 173.078,105.539 149.852,105.626 149.764 C 105.714 149.676,115.339 149.627,127.014 149.656 C 138.690 149.684,148.155 149.678,148.047 149.642 C 147.927 149.602,147.852 148.317,147.852 146.312 C 147.852 144.033,147.781 142.976,147.617 142.813 C 147.277 142.472,97.255 142.472,96.914 142.813 M247.391 151.123 C 247.210 152.216,247.279 251.581,247.461 252.148 C 247.547 252.417,247.626 229.631,247.637 201.514 C 247.647 173.396,247.624 150.391,247.584 150.391 C 247.544 150.391,247.458 150.720,247.391 151.123 M269.937 188.330 C 269.946 188.679,270.003 188.833,270.064 188.672 C 270.126 188.511,270.272 188.314,270.391 188.235 C 270.881 187.908,340.575 188.063,340.904 188.393 C 341.233 188.722,341.390 291.227,341.061 291.719 C 340.983 291.837,340.786 291.984,340.625 292.045 C 340.464 292.106,340.618 292.164,340.967 292.172 L 341.602 292.188 341.602 239.941 L 341.602 187.695 305.762 187.695 L 269.922 187.695 269.937 188.330 M269.945 220.850 C 269.927 221.188,270.023 221.284,270.361 221.266 C 270.673 221.250,270.705 221.218,270.471 221.157 C 270.290 221.109,270.102 220.921,270.054 220.740 C 269.993 220.506,269.961 220.538,269.945 220.850 M296.484 237.158 L 296.484 252.832 272.217 252.779 L 247.949 252.726 248.009 255.312 C 248.043 256.758,248.161 258.008,248.278 258.148 C 248.572 258.503,303.903 258.519,304.258 258.164 C 304.598 257.824,304.598 222.059,304.258 221.719 C 304.092 221.553,302.925 221.484,300.254 221.484 L 296.484 221.484 296.484 237.158 M58.421 291.748 C 58.404 292.086,58.500 292.182,58.838 292.165 C 59.149 292.149,59.181 292.117,58.948 292.055 C 58.766 292.007,58.579 291.820,58.531 291.638 C 58.469 291.405,58.437 291.437,58.421 291.748 " 
					fill="#0E0E0E"
					fill-rule="evenodd">
				</path>
			</g>
		</svg>


		<br><br><br>

		<h1>Hey! I'm <span class="text-gradient">Dan Glorioso</span>,</h1>
		<h2> a CS Student at Tufts.</h2>

		<p class="instructions">
			Here you’ll find my portfolio of academic and personal projects.<br />
			<strong>This site is a work in progress and is not yet fully deployed.</strong> Enter your email address below to get notified when the site is launched.
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.monogram {
		position: absolute;
		top: 20px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
	}
	.monogram:hover path#body {
		fill: #0404e3;
		transition: fill 0.3s ease;
	}
	.monogram:hover path#shadow {
		fill: #04048d;
		transition: fill 0.3s ease;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: .25em;
	}
	h2 {
		font-size: 3rem;
		font-weight: 600;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	header {
		display: flex;
		justify-content: flex-end; /* Align icons right */
		align-items: center; /* Vertically centered */
		padding: 1rem;
		background-color: transparent;
	}
	header a {
		margin-left: 1rem; /* Space between icons */
	}
	header img {
		width: 32px; /* Larger size for better visibility */
		height: 32px;
	}
</style>
