---
import Layout from '../layouts/ComingSoon.astro';
import Hero from "../components/Hero.astro";
import ComingSoonBox from "../components/ComingSoonBox.astro";
---

<Layout title="Dan Glorioso" description="CS Student @ Tufts">
	<section id="home">
		<div class="h-full w-full flex flex-col gap-8">
			<Hero />
			<ComingSoonBox />
		</div>
	</section>
</Layout>
