---
import Layout from '../layouts/ComingSoon.astro';
import Hero from "../components/Hero.astro";
import ComingSoonBox from "../components/ComingSoonBox.astro";
---

<Layout title="Dan Glorioso" description="CS Student @ Tufts">
	<div class="">
		<Hero />
        <ComingSoonBox />
	</div>
</Layout>
