---
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';
---

<Layout title="Projects" description="A collection of my projects">
	<section id="projects">
		<div class="h-full w-full flex flex-col gap-8">
			<ProjectCard />
			<ProjectCard />
			<ProjectCard />
		</div>
	</section>
</Layout>
