---
---
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=https://marketplace.visualstudio.com/items?itemName=DanGlorioso.under-30" />
  </head>
  <body>
    <p>Redirecting to <a href="https://marketplace.visualstudio.com/items?itemName=DanGlorioso.under-30">Visual Studio Marketplace</a>...</p>
  </body>
</html>
