@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Global Standard Colors */
  --bg-primary: rgb(16,23,41);
  --bg-secondary: oklch(0.279 0.041 260.031);
  --accent-primary: oklch(54.6% 0.245 262.881);
  --accent-secondary: oklch(0.623 0.214 259.815);
  --text-primary: #171717;
  --text-secondary: #64748b;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark mode colors */
    --bg-primary: #0a0a0a;
    --bg-secondary: #0f172a;
    --accent-primary: oklch(54.6% 0.245 262.881); /* blue-600 */
    --accent-secondary: oklch(0.623 0.214 259.815); /* blue-500 */
    --text-primary: #ededed;
    --text-secondary: #94a3b8;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, Inter, system-ui, sans-serif;
}
